.container {
  background: rgba(255, 255, 255, 0.1);
  height: 600px;
  border-radius: 20px;
}

.button1 {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 20px 40px;
  border-radius: 10px;
  animation: 3s ease-in-out infinite alternate button1;
}

@keyframes button1 {
  from {
    transform: scale(1); 
  }
  to {
    transform: scale(1.5);
  }
}

.button2 {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 20px 40px;
  border-radius: 10px;
  animation: 3s ease-in-out infinite alternate button2;
}

@keyframes button2 {
  0% {
    background-color: transparent;
    color: white;
  }
  50% {
    background-color: lightcoral;
    color: blue;
  }
  100% {
    background-color: lightgreen;
    color: brown;
  }
}
